@keyframes scale-out {
	to {
		scale: 0;
		opacity: 0;
		clip-path: inset(0 0 100% 0);
	}
}

@keyframes scale-in {
	from {
		scale: 0;
	}

	to {
		scale: 1;
	}
}

@keyframes animate-in {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes animate-out {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-100%);
		opacity: 0;
	}
}
